<div id="heavy_task"
  data-controller="progress-bar"
  data-progress-bar-total-jobs-value="<%= total_count %>">
  <div class="progress">
    <div class="progress-bar progress-bar-striped active"
      role="progressbar"
      data-progress-bar-target="progress">
  </div>
</div>
